
2573/.vs/2573/FileContentIndex/0dfe0764-2792-47e9-aa94-e700d967ab4d.vsidx
2573/.vs/2573/FileContentIndex/3ebf90ac-e93b-45cd-a413-9c257851bbac.vsidx
*.vsidx
*.db
*.db-wal
*.db-wal
*.filters
*.db-wal
5014/.vs/5014/v17/.suo
*.ipch
*.sln
*.tlog
*.exe
*.pdb
*.user
*.opendb
*.recipe
*.log
*.idb
*.obj
*.ilk
*.vcxproj
*.json
*.db-shm
